body {
    padding-top: 20vh;
    height: 100vh;
}
span{
    color: red;
    font: bold;
}

/*Nav Style - Override*/
.bg-dark {
    background-color: #9d7039!important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: #ffffff;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 25%;
    /*min-width: 100%;*/
    height: 32rem;
}

.carousel-control-next-icon {
    background-image: url('../pics/svg/chevron-right.svg');
}

.carousel-control-prev-icon {
    background-image: url('../pics/svg/chevron-left.svg');
}
  